[submodule "cdsp/automotive-viss2"]
	path = cdsp/vissr
	url = https://github.com/COVESA/vissr.git
[submodule "docs/docs-gen/themes/learn"]
	path = docs/docs-gen/themes/learn
	url = https://github.com/matcornic/hugo-theme-learn
